.wrapper {
  border: 2px solid darkgreen;
  border-radius: 30px;

}

div {
  padding: 20px;;
}

label {
  display: inline-block;
  width: 100%;
  margin-right: 20px;
  text-align: left;
  font-weight: bold;
  width: 100%;
}

input {
  border: none;
  border-bottom: 2px solid green;
  width: 80%;
  padding: 12px 20px;
}

input:focus {
  border-color: black;
  border-bottom: none;
}

input[type="submit"] {
  border: 2px solid;
  border-radius: 10px;
  width: 20em;
  height: 3em;
  background-color: white;
  padding: 10px;
  color: darkgreen;
  font-weight: bold;
  display: block;
  margin: 30px 50px;
}

input[type="submit"]:focus {
  border: 2px solid black;
}